**/.env
**/.git
**/.gitignore
**/.dockerignore
**/node_modules
**/vendor/bundle
**/.bundle
**/coverage
**/.cache
**/log/*
**/tmp/*
**/build
**/dist
**/.vscode
**/.vs
**/.idea
**/*.sublime-project
**/*.sublime-workspace
