RAILS_ENV=development

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=root

POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

SECRET_KEY_BASE=your_production_secret_key_base_here
