<% provide(:title, 'Event Type | Edit') %>

  <h3 class="center-txt-align"> <%= @event_type.event_type_name %> </h3> </div>
  <h4 class="center-txt-align page-header-top"> Edit </h4> </div> 

  <%= render 'form' %>


